/* style.css */

body {
    margin: 0;
    padding: 0;
    background: url('/images/home.png') no-repeat center center fixed;
    background-size: cover;
}

.carousel-item {
	height: 65vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }