body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background: url("/images/home.png") no-repeat center top;
    background-size: contain;
    background-attachment: scroll;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}
